extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec varius nunc, vitae dignissim metus. Vestibulum sit amet nunc ante. Quisque sapien magna, consequat in laoreet scelerisque, viverra eu tellus. Nulla dapibus nisl sit amet porttitor tristique. 
                p Curabitur fringilla nulla ut risus scelerisque, nec faucibus velit facilisis. Ut risus arcu, vulputate in porta sit amet, sollicitudin vel ante. Aliquam hendrerit lorem non mi varius vehicula. 
                p Integer at rutrum massa. Nunc nisl nibh, dictum at nisi vitae, aliquet sollicitudin urna. Mauris varius tempus turpis ut maximus. Mauris sed gravida quam. Nulla tincidunt, massa vitae tempus interdum, lacus metus ullamcorper nulla, semper ornare leo mi eget eros. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono seguridad", class ="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Mauris varius tempus turpis ut maximus. Mauris sed gravida quam. Nulla tincidunt, massa vitae tempus interdum, lacus metus ullamcorper nulla, semper ornare leo mi eget eros. 
                
                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono destino", class ="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Mauris varius tempus turpis ut maximus. Mauris sed gravida quam. Nulla tincidunt, massa vitae tempus interdum, lacus metus ullamcorper nulla, semper ornare leo mi eget eros. 
                
                .col-md-4
                    img(src="img/icono_precios.svg" alt="icono precio", class ="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Mauris varius tempus turpis ut maximus. Mauris sed gravida quam. Nulla tincidunt, massa vitae tempus interdum, lacus metus ullamcorper nulla, semper ornare leo mi eget eros. 